<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<!--Import materialize.css-->
			<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		</head>
		<body>
			!--JavaScript at end of body for optimized loading-->
			<script type="text/javascript" src="js/materialize.min.js"></script>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact Us!</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/stuyCLC">Our github</a></li>
				</ul>
			</footer>
		</body>
	</html>
